<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Progression des tâches</h3>
        <ul class="control-sidebar-menu">
            <li>
                <a href="javascript:void(0)">
                    <h4 class="control-sidebar-subheading">
                        Conception de modèles personnalisés
                        <span class="label label-danger pull-right">70%</span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4 class="control-sidebar-subheading">
                        Mise à jour du CV
                        <span class="label label-success pull-right">95%</span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4 class="control-sidebar-subheading">
                        Intégration Laravel
                        <span class="label label-warning pull-right">50%</span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4 class="control-sidebar-subheading">
                        Framework Back End
                        <span class="label label-primary pull-right">68%</span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
            <h3 class="control-sidebar-heading">Paramètres de chat</h3>
            <div class="form-group">
                <label class="control-sidebar-subheading">
                    Afficher comme en ligne
                    <input type="checkbox" class="pull-right" checked>
                </label>
            </div>
            <div class="form-group">
                <label class="control-sidebar-subheading">
                    Désactiver les notifications
                    <input type="checkbox" class="pull-right">
                </label>
            </div>
            <div class="form-group">
                <label class="control-sidebar-subheading">
                    Supprimer l'historique du chat
                    <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
            </div>
        </form>
    </div>
</div>